@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  p {
    margin: revert;
    @apply text-slate-500 dark:text-slate-400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: revert;
    @apply font-sans text-slate-900 dark:text-white;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  blockquote {
    @apply border-l-2 border-gray-400 pl-4 -ml-4 text-gray-200;
    font-style: italic;
  }
}
